body


{background-image:url("https://medias.lequipe.fr/img-photo-jpg/bienfaits-montagne/1500000000874848/90:251,714:667-624-416-75/f494a.jpg");
background-repeat: no-repeat;
width: auto;
 background-size: cover;

}




.premier{
	color:white;
	text-align:center;
	box-shadow: 10px 1px 19px;
	background-color:purple;}
		
		
.page{
    
   
    align-items: auto;
	box-shadow: 1px 1px 19px;
    padding: 40px;
   
}

h2{font-size: 170%;
	font-family: fantasy;

}

h1{
	color:white;
	font-size:110%;
	font-style: oblique;
	background-color:purple;}
	
}	